:root {
    --color-text: #333333;
    --color-link: #9D5CD0;
    --color-link-active: #7943A4;
    --color-border: #D1A9F0;
  }

* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.section-header {
    color: var(--color-text);
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
}

.btn-reset {
    background: none;
    border: none;
}

.btn {
    position: relative;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 32px;
    padding-right: 32px;
    color: var(--color-link);
    border: 1px solid var(--color-link);
    border-radius: 35px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3px;
    transition: background-color .2s ease-in-out;
}

.btn:hover {
    background-color: var(--color-link);
}

.btn:active {
    background-color: var(--color-link-active);
    border: 3px solid var(--color-border);
}

.btn:focus::before {
    content: '';
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -4px;
    left: -4px;
    border: 1px solid var(--color-border);
    border-radius: 39px;
}

.slider-larrow, .slider-rarrow {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #666666;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.slider-larrow:not([disabled]):hover, .slider-rarrow:not([disabled]):hover {
    background-color: var(--color-link);
}

.slider-larrow:active, .slider-rarrow:active {
    background-color: var(--color-link-active);
    border: 2px solid var(--color-border);
}

.slider-larrow:focus, .slider-rarrow:focus {
    outline:none;
    border: 2px solid var(--color-link-active);
}

.slider-larrow::before, .slider-rarrow::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 12px;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    transform: rotate(45deg);
}

.slider-rarrow::before {
    transform: rotate(-135deg);
    left: 11px;
}

.slider-larrow:active::before, .slider-rarrow:active::before, .slider-larrow:focus::before, .slider-rarrow:focus::before {
    top: 9px;
    left: 9px;  
}

.slider-larrow:active::before,.slider-larrow:focus::before {
    left: 10px;  
}

.modal-bg {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -350vh;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    transition: background-color .2s linear;
    z-index:100;
}

.modal-bg__showed {
    left: 0;
    background-color: rgba(0,0,0,.7);
}

.modal {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: -2px 2px 10px 2px rgba(34, 60, 80, 0.2);
}

.modal__form {
    padding: 20px;
}

.modal__text {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}

.modal__close {
    position: relative;
    width: 30px;
    height: 20px;
    border: none;
    background: none;
    margin-top: 10px;
    cursor: pointer;
}

.close__line {
    position: absolute;
    height: 2px;
    left: 0;
    top: 0;
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
}

.close__line:nth-child(1){
    transform: rotate(45deg);
}

.close__line:nth-child(2){
   transform: rotate(-45deg);
}

.js-validate-error-label {
    top: -18px;
    position: relative;
}

.header {
    position: relative;
    padding-top: 99px;
}

.header__top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 5;
}

.top__container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 22px;
}

.header__burger {
    position: relative;
    display: none;
    width: 36px;
    height: 28px;
    margin-top: 7px;
}

.header__burger:hover .burger__line {
    width: 100%;
    transition: width 0.15s;
}

.burger__line {
    position: absolute;
    left: 0;
    height: 3px;
    display: inline-block;
    background-color: #fff;
    transition: width 0.15s;
}

.burger__line:nth-child(1){
    top: 0;
    width: 100%;
}

.burger__line:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
}

.burger__line:nth-child(3){
    bottom: 0;
    width: 60%;
}

.header__logo {
    display: flex;
    flex-direction: column;
    margin-right: 173px;
    transition: filter .2s linear;
}

.header__logo:hover {
    filter: drop-shadow(1px 1px 15px #ffffff); 
}

.header__logo img {
    margin-bottom: 8px;
}

.menu__close {
    position: relative;
    display: none;
    width: 20px;
    height: 15px;
    border: none;
    background: none;
/*    margin-right: 10px;*/
    margin-left: 13px;
    margin-bottom: 9px;
    cursor: pointer;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 50px;
}

.menu__link {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    transition: color .2s ease-in-out;
}

.menu__link:hover {
    color: #C283F3;
}

.menu__link:focus {
    outline: 2px solid var(--color-link-active);
}

.menu__link:active {
    outline: none;
    color: var(--color-link-active);
}

.header__login {
    margin-left: auto;
    color: #ffffff;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 0;
    cursor: pointer;
    transition: color.2s ease-in-out, background-image .1s linear;
}

.header__login-img {
    margin-right: 5px;
}

.header__login-img path {
    transition: fill .2s ease-in-out;
}

.header__login:hover {
    color: var(--color-link);
}

.header__login:hover > .header__login-img path {
    fill: var(--color-link);
}

.header__login:focus {
    outline: 1px solid var(--color-link-active);
}

.header__login:active {
    color: var(--color-link-active);
    outline: none;
}

.header__login:active > .header__login-img path {
    fill: var(--color-link-active);
}

.header__login-mob {
    display: none;
    margin-left: 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid var(--color-link-active);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__login-mob:focus {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 29px;
    padding-right: 29px;
    outline: none;
}

.header__login-mob:active {
    padding-left: 29px;
    padding-right: 29px;
    outline: none;
}


.header__menu_open {
    left: 0 !important;
}

.header__search {
    margin-left: auto;
    display: flex;
}

.search__field {
    width: 218px;
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 2px;
    caret-color: #C283F3;
    transition: border-bottom .2s ease-in-out;
}


.search__field::placeholder {
    color: #ffffff;
}

.search__field:focus {
    outline: 1px solid var(--color-link-active);
    outline-offset: 6px;
}

.search__field:hover {
    border-bottom: 1px solid var(--color-link-active);
}

.search__field:hover + .search__btn, .search__field:focus + .search__btn {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
}

.search__field:active {
    outline: none;
}

.search__field_nofocus {
    outline: none !important;
}

.search__btn {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23ffffff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    order: -1;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    transition: background-image .2s linear;
}

.search__btn:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
}

.search__btn:focus {
    outline: 1px solid var(--color-link-active);
}

.search__btn_mob {
    display: none;
    width: 28px;
    height: 28px;
    background-size: cover;
    margin-top: 7px;
    margin-right: 0;
}

.search__field_mob {
    display: none;
    width: 0;
    margin-top: 0;
    font-size: 0;
    border-bottom: none;
/*    margin-bottom: 10px;*/
    transition: width .2s ease-in-out;
}

.search__field_mob_active {
    width: 150px;
    margin-left: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ffffff;
}

.header__submenu {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 26px;
    padding-bottom: 22px;
    margin-bottom: -72px;
}

.menu2__control {
    display: flex;
}

.menu2__list {
    display: flex;
    margin-left: -7px;
}

.menu2__item {
    position: relative;
}

.menu2__item:not(:last-child) {
    margin-right: 84px;
}

.menu2__btn {
    position: relative;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-right: 23px;
    transition: color .2s ease-in-out;
}

.menu2__btn:hover {
    color: var(--color-link);
}

.menu2__btn:focus {
    outline: 1px solid var(--color-link);
    outline-offset: 6px;
}

.menu2__btn:active {
    color: var(--color-link-active);
    outline: none;
}

.menu2__btn::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 10px;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(45deg);
    transition: border-color .2s ease-in-out;
}

.menu2__btn:hover::after {
    border-color: var(--color-link);
}

.menu2__btn_up.menu2__btn::after {
    top: 10px;
    transform: rotate(-135deg);
}

.submenu {
    visibility: hidden;
    position: absolute;
    left: -40px;
    top: 46px;
    background: rgba(0, 0, 0, 0.4);
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s ease-in-out;
}

.submenu-visible {
    visibility: visible;
    opacity: 1;
}

.submenu__list {
    max-height: 220px;
    width: 250px;
    overflow-x: hidden;
    padding-right: 20px;
}

.submenu__item {
    width: 220px;
    height: 40px;
}

.submenu__item:not(:last-child) {
    margin-bottom: 20px;
}

.submenu__item:nth-child(3n+1) {
    background-image: url(../img/menu1.jpg);
}

.submenu__item:nth-child(3n+2) {
    background-image: url(../img/menu2.jpg);
}

.submenu__item:nth-child(3n+3) {
    background-image: url(../img/menu3.jpg);
}

.submenu__link {
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding-left: 14px;
    padding-top: 12px;
}

.submenu__link:hover {
    outline: 2px solid var(--color-link);
    outline-offset: -2px;
}

.submenu__link:focus {
    outline: 2px solid #D88F99;
    outline-offset: -2px;
}

.submenu__link:active {
    outline: 2px solid var(--color-border);
    outline-offset: -2px;
    background-color: rgba(194, 131, 243, 0.4);
}

.hero {
    padding-top: 141px;
    padding-bottom: 119px;
    animation: header-bg 40s ease infinite;
}

@keyframes header-bg {
    0% {
        background-image: url(../img/bg_desc1.jpg); 
        background-size: 100% 100%;
    }
    16.6% {
        background-size: 110% 110%;
    }    
    33.2% {
        background-image: url(../img/bg_desc2.jpg); 
        background-size: 100% 100%;
    }
    49.8% {
        background-size: 110% 110%;
    }
    66.4% {
        background-image: url(../img/bg_desc3.jpg); 
        background-size: 100% 100%;
    }    
    83% {
        background-size: 110% 110%;
    }
    100% {
        background-image: url(../img/bg_desc1.jpg); 
        background-size: 100% 100%;
    }   
}


.simplebar-scrollbar::before {
    background-color: var(--color-link);
    width: 2px;
    opacity: 1;
  }

.hero__description {
    display: flex;
    flex-direction: column;
}

.hero__main {
    font-size: 0;
}

.hero__header {
    color: #ffffff;
    width: 700px;
    font-size: 72px;
    font-weight: 700;
    line-height: 83px;
    margin-left: -5px;
    margin-bottom: 20px;
}

.hero__title {
    width: 600px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 90px;
}

.hero__btn {
    width: 314px;
    background-color: var(--color-link);
    color: #ffffff;
    transition: border-color .3s ease-in-out;
}

.hero__btn:hover {
    border: 3px solid var(--color-border);
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 30px;
    padding-right: 30px;
}

.hero__btn:active {
    background-color: var(--color-link-active);
    border: 3px solid var(--color-border);
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

.hero__btn:focus {
    outline: none;
}

.hero__btn:focus::before {
    content: '';
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -4px;
    left: -4px;
    border: 1px solid var(--color-border);
    border-radius: 39px;
}

.about-us {
    padding-top: 80px;
    padding-bottom: 69px;
}

.about-us__header {
    margin-left: -2px;
    margin-bottom: 17px;
}

.about-us__description {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    width: 70%;
}

.gallery {
    background-image: url(../img/gallery-bg-desc.jpg);
    background-size: contain;
    margin-bottom: 80px;
}

.gallery__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 995px;
    padding-top: 80px;
    padding-bottom: 70px;
}

.gallery__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 25%;
    order: 0;
}

.gallery__header {
    color: #ffffff;
    margin-left: -4px;
    margin-bottom: 23px;
}

.gallery__title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 17px;
}

.choices {
    margin-bottom: 0;
}

.choices__inner, .is-open .choices__inner, .is-focused .choices__inner {
    background: none;
    border: 1px solid #ffffff;
    border-radius: 7px;
    vertical-align: middle;
    width: 100%;
    min-height: 39px;
    color: #ffffff;
    font-size: 16px ;
    font-weight: 400;
    padding: 5px 15px 2px 10px;
}

#choices--select-item-choice-2 {
    display: none;
}

.is-open .choices__inner {
    background: none;
    border: 1px solid #ffffff;
    border-radius: 7px;
    vertical-align: middle;
    width: 100%;
    min-height: 39px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 3px 10px;
}

.choices[data-type*=select-one]:after {
    width: 6px;
    height: 6px;
    top: 19px;
    right: 17px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
    z-index: 2;
}
.is-open.choices[data-type*=select-one]:after {
    top: 26px;
    border-color: #ffffff;
    transform: rotate(135deg);
}

#choices--select-item-choice-1 {
    display: none;
}

#choices--select-item-choice-3 {
    border-bottom: 1px solid #999999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
    color: var(--color-link);
}

.choices__placeholder {
    opacity: 1;
}

.choices__inner {
    position: relative;
    z-index: 2;
}

.is-open .choices__list--dropdown {
    background: none;
    border-top: none;
    border-color: #999999;
    color: #999999;
    border-radius: 7px;
    z-index: 1;
}

.gallery__description {
    order: 1;
    width: 25%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
}

.gallery__login {
    color: var(--color-link);
    border-bottom: none;
    transition: border-bottom .2s ease-in-out;
}

.gallery__login:hover {
    border-bottom: 1px solid var(--color-link);
}

.gallery__login:focus {
    outline: 2px solid var(--color-link-active);
}

.gallery__login:active {
    color: var(--color-link-active);
    border-bottom: 1px solid var(--color-link-active);
    outline: none;
}

.gallery__img {
    width: calc(75% - 50px);
    padding-top: 25px;
    margin-left: 50px;
    order: 2;
}

.gallery__control {
    display: flex;
    padding-left: 3px;
    margin-bottom: 28px;
}

.gallery__swiper-pagination {
    color: #ffffff;
    width: auto;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-left: 19px;
    margin-right: 20px;
}

.galery__swiper-container {
    height: 800px;
}

.gallery__item {
    height: 350px;
}

.gallery__link {
    display: block;
    position: relative;
    font-size: 0;
    margin: 3px;
}

.gallery__link:focus {
    outline: 3px solid var(--color-link-active);
}

.gallery__link::before,.gallery__link::before {
    content: '';
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top: 25px;
    left: 25px;
    background-color: rgba(0,0,0,.4);
    background-image: url(../img/loop.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.gallery__link:hover::before,.gallery__link:active::before {
    opacity: 1;
}

.gallery__link:active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(194, 131, 243, 0.4);
}

.catalog {
    margin-bottom: 80px;
}

.catalog__header-container {
    display: flex;
    margin-bottom: 14px;
}

.catalog__header {
    margin-left: -3px;
}

.country__list {
    display: flex;
    margin-left: 43px;
    margin-top: 10px;
}

.country__item:not(:last-child) {
    margin-right: 50px;
}

.country__link {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 33px;
    transition: filter .3s ease-in-out;
}

.country__link:hover {
    filter: drop-shadow(0 0 20px rgba(157, 92, 208, .7));
}

.country__link:active {
    border: 2px solid var(--color-link);
    outline: none;
}

.country__link_active {
    border: 2px solid var(--color-link);
    width: 66px;
    height: 66px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    outline: none;
}

.country__link_country1 {
    background-image: url(../img/country1.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.country__link_country2 {
    background-image: url(../img/country2.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.country__link_country3 {
    background-image: url(../img/country3.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.country__link_country4 {
    background-image: url(../img/country4.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.country__link_country5 {
    background-image: url(../img/country5.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.catalog__title {
    width: 69%;
    color: var(--color-text);
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 40px;
}

.catalog__body {
    display: flex;
}

.catalog__description {
    width: 750px;
    margin-right: 50px;
}

.catalog__list {
    width: 800px;
}

.catalog__img {
    margin-bottom: 30px;
}

.catalog__name {
    color: var(--color-text);
    font-size: 24px;
    letter-spacing: -0.6px;    
    margin-bottom: 12px;
}

.catalog__date {
    color: #999999;
    font-size: 12px;
    margin-bottom: 8px;
}

.catalog__info {
    color: var(--color-text);
    font-size: 16px;
    line-height: 32px;
}

.catalog__item {
    color: var(--color-text);
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    border-bottom: 1px solid var(--color-text);
    padding-top: 37px;
    padding-bottom: 43px;
    transition: color .2s ease-in-out;
}

.catalog__item:hover {
    color: var(--color-link);
    border-bottom: 1px solid var(--color-link);
}

.catalog__item:hover .ui-accordion-header-icon {
    background-color: var(--color-link);
}

.catalog__item:hover .ui-accordion-header-icon::before {
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.catalog__item:focus {
    outline: 2px solid var(--color-link-active);
    outline-offset: 6px;
}

.catalog__item:active {
    color: var(--color-link-active);
    border-bottom: 1px solid var(--color-link-active);
}

.catalog__item:active .ui-accordion-header-icon {
    background-color: var(--color-link-active);
    border: 2px solid var(--color-border);
}

.catalog__item:active .ui-accordion-header-icon::before {
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    top: 13px;
    left: 16px;
}

.catalog__item:active.ui-accordion-header-active .ui-accordion-header-icon::before {
    top: 19px;
}

.catalog__item:first-child {
    border-top: 1px solid var(--color-text);
}

.ui-accordion-header {
	position: relative;
}

.ui-accordion-header-icon {
    position: absolute;
    right: 0;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ececec;
    transition: background-color .2s ease-in-out;
}

.ui-accordion-header-icon::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 18px;
    width: 12px;
    height: 12px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transform: rotate(45deg);
    transition: border-right,border-bottom .2s ease-in-out;
}

.ui-accordion-header-active .ui-accordion-header-icon::before {
    top: 21px;
    transform: rotate(-135deg);
}

.catalog__author {
    padding-top: 25px;
    column-count: 3;
    column-gap: 50px;
    margin-bottom: 30px;
}

.author__link {
    color: var(--color-text);
    font-size: 16px;
    line-height: 32px;
    border-bottom: none;
    transition: color,border-bottom .2s ease-in-out;
}

.author__link:hover {
    color: var(--color-link);
    border-bottom: 1px solid var(--color-link);
}

.author__link:focus {
    outline: 2px solid var(--color-link-active);
    outline-offset: 2px;
}

.author__link:active, .author__link_active {
    color: var(--color-link-active);
    outline: none;
}

.author__item1 {
    break-inside:avoid;
}

.events {
    margin-bottom: 80px;
}

.events__header {
    margin-bottom: 16px;
}

.events__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

.event__container {
    display: flex;
    height: auto;
    flex-direction: column;
    width: calc(33.3% - 33.3px);
    font-size: 0;
    margin-bottom: 47px;
}

.event__container:nth-child(2n), .event__container:nth-child(1) {
    margin-right: 50px;
}

.event__container_hide {
    display: none;
}

.event__description {
    border: 1px solid #CACACA;
    border-top: none;
    padding-top: 13px;
    padding-bottom: 42px;
    padding-left: 50px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.event__date {
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
/*    margin-right: 16px;*/
    letter-spacing: .1px;
    line-height: 16px;
    margin-bottom: 3px;
}

.event__text {
/*    padding-left: 50px;
    padding-right: 40px;*/
    margin-bottom: 117px;
    flex-grow: 1;
}

.event__header {
    color: var(--color-text);
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.6px;
    margin-bottom: 1px;
}

.event__info {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
} 

.event__link {
    display: inline-block;
    color: var(--color-link);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    border-bottom: 1px solid var(--color-link);
/*    margin-top: 85px;*/
/*    margin-left: 50px;*/
/*    margin-bottom: 42px;*/
/*    transition: font-weight,letter-spacing .2s ease-in-out;*/
    transition: text-shadow .2s;
}

.event__link:hover {
/*    font-weight: 700;
    letter-spacing: -0.5px;*/
    text-shadow: 0 0 .85px var(--color-link), 0 0 .85px var(--color-link);
}

.event__link:focus {
    outline: 2px solid var(--color-link-active);
    outline-offset: 3px;
}

.event__link:active {
/*    font-weight: 700;
    letter-spacing: -0.5px;*/
    text-shadow: 0 0 .85px var(--color-link-active), 0 0 .85px var(--color-link-active);
    color: var(--color-link-active);
    border-bottom: 1px solid var(--color-link-active);
    outline: none;
}

.events__btn {
    display: block;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: background .3s ease, color .2s linear;
}

.events__btn:hover {
    color: #ffffff;
}

.events__btn:focus {
    outline: none;
}

.events__btn:active {
    padding-top: 14px;
    padding-bottom: 14px;
    outline: none;
}

.publications {
    background-image: url(../img/publications-bg-desc.jpg);
    background-size: cover;
    margin-bottom: 80px;
}

.publications__container {
    display: flex;
    padding-top: 80px;
    padding-bottom: 75px;
}

.publications__header {
    color: #fff;
    margin-left: -5px;
    margin-bottom: 25px;
}

.publications__filter {
    margin-right: 110px;
    width: 340px;
}

.pub-filter__title {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 13px;
}

.pub-filter__list {
    margin-bottom: 40px;
}

.pub-filter__item {
    margin-bottom: 14px;
    user-select: none;
    font-size: 0;
}

.pub-filter__check {
/*    display: none;*/
    width: 0px;
    height: 0px;
}

.pub-filter__info {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding-left: 24px;
}

.pub-filter__info::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
}

.pub-filter__check:checked + .pub-filter__info::before {
    border: 1px solid var(--color-link);
}

.pub-filter__check:checked + .pub-filter__info {
    color: var(--color-link);
}

.pub-filter__check:checked + .pub-filter__info::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 4px;
    width: 4px;
    height: 4px;
    background-color: var(--color-link);
    border-radius: 4px;
}

.pub-filter__check:focus  + .pub-filter__info{
    outline: 1px solid var(--color-link);
    outline-offset: 6px;
}

.pub-filter__price-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 14px;
}

.pub-filter__price {
    display: flex;
    width: 277px;
    border: 1px solid rgba(255, 255, 255, 0.5);;
    border-radius: 5px;
    padding: 0 4px;
}

.price-filter__text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 10px;
}

.price-filter__input {
    border: none;
    background: rgba(157, 92, 208, 0.5);
    width: 74px;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-left: 9px;
    color: #ffffff;
}

.price-filter__input:focus {
    outline: 1px solid  var(--color-link);
}

.publications__list {
    width: calc(100% - 450px);
}

.publications__control {
    display: flex;
    padding-top: 34px;
    margin-bottom: 28px;
}

.publications__swiper-pagination {
    color: #ffffff;
    width: auto;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-left: 19px;
    margin-right: 20px;
}

.publications__swiper {
    width: 100%;
}

.edition__img {
    margin-bottom: 21px;
}

.edition__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

/*.edition__name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}*/

.edition__header, .edition__author-desc, .edition__author {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.edition__author-mob {
    display: none;
}

.edition__author  {
    display: block;
    font-weight: 400;
}

.edition__price {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.edition__btn {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.edition__btn:focus {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}

.edition__btn:active {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 18px;
    padding-right: 18px;
    outline: none;
}

.project__header {
    margin-left: -3px;
    margin-bottom: 16px;
}

.project {
    margin-bottom: 31px;
}

.project__title {
    width: 67%;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    margin-bottom: 22px;
}

.project__tooltip {
    position: relative;
}

.tooltip__icon {
    position: relative;
    display: inline-block;
    background-color: var(--color-link);
    color: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    line-height: 14px;
    letter-spacing: 0.1px;
    font-size: 15px;
    text-align: center;
    margin-left: 2px;
    margin-right: 1px;
    bottom: -1px;
}

.tooltip__hidden {
    display: none;
    position: absolute;
    bottom: 130%;
    left: -125px;
    width: 264px;
    background-color: #CACACA;
    color: #ffffff;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
}

.tooltip__hidden:before {
    content: " ";
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #CACACA;
    margin-left: -5px;
    transform: rotate(45deg);
    z-index: 2;
}

.tooltip__icon:hover + .tooltip__hidden {
    display: block;
}

.project__link {
    color: var(--color-link);
    font-weight: 600;
    letter-spacing: 0;
    border-bottom: none;
    transition: border-bottom .2s ease-in-out;
}

.project__link:hover {
    border-bottom: 1px solid var(--color-link);
}

.project__link:focus {
    outline: 2px solid var(--color-link-active);
    outline-offset: 3px;
}

.project__link:active {
    color: var(--color-link-active);
    border-bottom: 1px solid var(--color-link-active);
    outline: none;
}

.project__subheader {
    color: var(--color-text);
    font-size: 24px;
    letter-spacing: -0.4px;
    margin-left: -4px;
    margin-bottom: 25px;
}

.project__swiper {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 0 75px;
}

.project__swiper-container {
    width: 100%;
}

.project__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 1px solid #CACACA;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter .2s ease-in-out;
}

.project__item:hover {
    filter: none;
}

.project__larrow,.project__rarrow {
    position: absolute;
    top: 60px;
    background-color: #ECECEC;
}

.project__larrow {
    left: 0;
}

.project__rarrow {
    right: 0;
}

.project__larrow::before,.project__rarrow::before {
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    transition: border .3s ease;
}

.project__larrow:hover::before,.project__rarrow:hover::before {
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1920px;

}

.contacts__header {
    margin-left: -3px;
    margin-bottom: 16px;
}

.contacts__form {
    display: flex;
    align-items: center;
    border: 1px solid #cacaca;
    width: 35.5%;
}

.contacts__form-container {
    width: 522px;
    margin-left: auto;
}

.contacts__name {
    color: var(--color-text);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 13px;
}

.contacts__address {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 37px;
}

.contacts__address-mob {
    display: none;
}

.contacts__title {
    color: var(--color-text);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 19px;
}

.contacts__input {
    width: 400px;
    border: 1px solid var(--color-text);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 22px;
}

.contacts__btn {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 40px;
    transition: background .3s ease, color .2s linear;
}

.contacts__btn:hover {
    color: #ffffff;
}

.contacts__btn:focus {
    outline: none;
}

.contacts__btn:active {
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 33px;
    padding-left: 33px;
}

.contacts__subheader {
    color: var(--color-text);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 19px;
}

.contacts__messages {
    display: flex;
}

.messages__item:not(:last-child) {
    margin-right: 20px;
}

.messages__link {
    display: block;
    width: 40px;
    height: 40px;
    transition: filter .2s linear;
}

.messages__link:hover {
    filter: drop-shadow(1px 1px 15px var(--color-text)); 
}

.messages__link_watsap {
    background-image: url(../img/Whatsapp-Icon.svg);
}

.messages__link_telegram {
    background-image: url(../img/Telegram_2019_Logo.svg);
}

.contacts__map {
    width: 64.5%;
    height: 700px;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

.footer {
    background-color: #000000;
    padding-top: 47px;
    padding-bottom: 47px;
}

.footer__container {
    display: flex;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: auto;
    margin-top: 2px;
    transition: filter .2s linear;
}

.footer__logo:hover {
    filter: drop-shadow(1px 1px 15px #ffffff); 
}

.footer__logo img {
    margin-bottom: 8px;
}

.footer__social {
    display: flex;
}

.social__item:not(:last-child) {
    margin-right: 18px;
}

.social__link {
    display: block;
    width: 46px;
    height: 46px;
    transition: filter .2s linear;
}

.social__link:hover {
    filter: drop-shadow(1px 1px 15px #ffffff); 
}

.social__link_vk {
    background-image: url(../img/vk.svg);
}

.social__link_inst {
    background-image: url(../img/instagram.svg);
}

.social__link_fb {
    background-image: url(../img/fb.svg);
}

@media (max-width: 1920px) {
    .contacts {
        width: 100%;
    }
}

@media (max-width: 1700px) {
    .container {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .header__logo {
        margin-right: 50px;
    }

    .menu__item:not(:last-child) {
        margin-right: 14px;
    }

    @keyframes header-bg {
        0% {
            background-image: url(../img/bg_desc1-1024.jpg); 
            background-size: 100% 100%;
        }
        16.6% {
            background-size: 110% 110%;
        }    
        33.2% {
            background-image: url(../img/bg_desc2-1024.jpg); 
            background-size: 100% 100%;
        }
        49.8% {
            background-size: 110% 110%;
        }
        66.4% {
            background-image: url(../img/bg_desc3-1024.jpg); 
            background-size: 100% 100%;
        }    
        83% {
            background-size: 110% 110%;
        }
        100% {
            background-image: url(../img/bg_desc1-1024.jpg); 
            background-size: 100% 100%;
        }   
    }

    .menu2__item:not(:last-child) {
        margin-right: 15px;
    }

    .catalog__description {
        width: 48%;
    }

    .catalog__list {
        width: 47.5%;
    }

    .author__item:not(:last-child) {
        margin-right: 20px;
    }

    .event__container {
        width: calc(33.3% - 33.3px);
    }

    .contacts {
        padding-left: 0;
        padding-right: 0;
    }

    .contacts__form-container {
        margin-left: 50px;
    }

    .contacts__input {
        width: 80%;
    }
}

@media (max-width: 1100px) {
    .header {
        padding-top: 98px;
    }

    .header__login, .header__submenu {
        display: none;
    }
    
    .header__menu {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 320px;
        background-color: rgba(0,0,0,.9);
        z-index: 10;
        left: -350px;
        transition: left .2s ease-in-out;
        padding-top: 21px;
    }
    
    .menu__close, .header__login-mob {
	display: block;
    }

    .menu__list {
	display: block;
        margin-left: 9px;
        margin-bottom: 20px;
    }

    .menu__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 0;
    }

    .menu__link {
        display: block;
        color: #ffffff;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: 500;
        transition: color .2s ease-in-out;
    }

    .menu__link:hover {
        color: var(--color-link);
    }	

    .header__burger {
        display: block;
    }

    .header__logo {
        margin-left: auto;
        margin-right: auto;
    }

    .header__login-img {
        margin-right: 1px;
    }

    .search__btn_mob {
        display: block;
        order: 0;
    }

    .search__field_mob {
        display: block;
    }

    .hero {
        padding-top: 116px;
        padding-bottom: 111px;
    }

    .hero__header {
        margin-bottom: 10px;
    }

    .hero__title {
        width: 80%;
        margin-bottom: 133px;
    }

    .about-us__header {
        margin-bottom: 15px;
    }

    .about-us__description {
        width: 100%;
    }

    .gallery__description {
        margin-bottom: -11px;
        width: 280px;
    }

    .gallery__container {
        padding-bottom: 81px;
        height: 839px;
    }

    .gallery__info {
        width: 280px;
    }

    .galery__swiper-container {
        height: 655px;
    }

    .gallery__img {
        width: calc(100% - 330px);
    }

    .gallery__item {
        height: 27.5vw;
    }

    .catalog__header-container {
        margin-bottom: 5px;
    }

    .country__list {
        margin-top: 21px;
    }

    .catalog__title {
        width: 100%;
    }

    .catalog__author {
        column-count: 2;
    }
   
    .author__item1 {
        break-inside: auto;
    }

    .author__item2 {
        break-inside: avoid;
    }

    .events {
	margin-bottom: 82px;
    }

    .event__container {
        width: calc(33.3% - 18px);
    }

    .event__container:nth-child(2n), .event__container:nth-child(1) {
        margin-right: 27px;
    }

    .event__img {
        height: 25.2vh;
    }

    .event__description {
        padding-top: 15px;
        padding-bottom: 49px;
        padding-left: 33px;
        padding-right: 18px;
    }

    .event__date {
/*        margin-right: 18px;*/
        margin-bottom: 2px;
    }

    .event__text {
/*        padding-left: 33px;
        padding-right: 33px; */
        margin-bottom: 60px;   
    }

    .event__header {
        line-height: 33px;
        letter-spacing: -0.5px;
        margin-bottom: 4px;
    }

    .event__link {
/*        margin-top: 30px;*/
/*        margin-left: 35px;*/
/*        margin-bottom: 49px;*/
    }

    .publications__container {
        padding-bottom: 79px;
    }

    .publications__list {
        width: calc(100% - 294px);
    }

    .publications__filter {
        margin-right: 17px;
    }

    .edition__img {
        margin-bottom: 8px;
    }

    .project {
        margin-bottom: 58px;  
    }

    .project__title {
        width: 100%;
    }

    .project__subheader {
        margin-bottom: 26px;
    }

    .project__swiper {
        height: 150px;
        padding: 0 50px;
    }

    .project__item {
        height: 128px;
    }

    .project__rarrow, .project__larrow {
        top: 50px;
    }

    .contacts {
        padding-left: 0px;
        padding-right: 0px;
    }

    .contacts__form {
        width: 487px;
        padding-top: 20px;
    }

    .contacts__form-container {
        width: auto;
    }

    .contacts__input {
        width: 335px;
        padding-left: 22px;
    }

    .messages__link {
        width: 60px;
        height: 60px;
        background-size: contain;
    }

    .messages__item:not(:last-child) {
        margin-right: 30px;
    }

    .contacts__map {
        width: calc(100% - 487px);
    }

    .footer__social {
        margin-top: -8px;
    }

    .social__link {
        width: 60px;
        height: 60px;    
        background-size: contain;
    }

    .social__item:not(:last-child) {
        margin-right: 30px;
    }
}
@media (max-width: 768px) {
    .modal {
        width: 90%;
    }

    .modal__text {
        padding: 0;
    }
    
    .hero__header {
        width: 100%;
    }

    .hero__title {
        width: 100%;
    }

    @keyframes header-bg {
        0% {
            background-image: url(../img/bg_desc1-768.jpg); 
            background-size: 100% 100%;
        }
        16.6% {
            background-size: 110% 110%;
        }    
        33.2% {
            background-image: url(../img/bg_desc2-768.jpg); 
            background-size: 100% 100%;
        }
        49.8% {
            background-size: 110% 110%;
        }
        66.4% {
            background-image: url(../img/bg_desc3-768.jpg); 
            background-size: 100% 100%;
        }    
        83% {
            background-size: 110% 110%;
        }
        100% {
            background-image: url(../img/bg_desc1-768.jpg); 
            background-size: 100% 100%;
        }   
    }

    .gallery__container {
        height: auto;
    }

    .gallery__info {
        width: 280px;
        flex-grow: 0;
        margin-bottom: 78px;
    }

    .gallery__img {
        width: 100%;
        padding-top: 30px;
        margin-left: 0;
        order: 1;
    }

    .gallery__description {
        width: 100%;
        flex-grow: 2;
    }

    .galery__swiper-container {
        height: 623px;
    }

    .gallery__item {
        height: 280px;
        overflow: hidden;
    }

    .gallery__link {
        margin: 0;
    }

    .gallery__pic {
        height: 100%;
        width: 100%;
    }
    
    .catalog {
        margin-bottom: 69px;
    }

    .catalog__header-container {
        width: 102%;
        flex-wrap: wrap;
    }

    .country__list {
        margin-top: 12px;
    }

    .country__item:not(:last-child) {
        margin-right: 54px;
    }

    .catalog__header {
        margin-bottom: 14px;
    }

    .catalog__body {
        flex-wrap: wrap;
    }

    .catalog__name {
        margin-bottom: 14px;
    }
    
    .catalog__title {
        margin-bottom: 20px;
    }

    .catalog__description {
        width: 100%;
        margin-right: 0;
        order: 2;
    }

    .catalog__list {
        width: 100%;
        order: 1;
        margin-bottom: 48px;
    }
    
    .catalog__author {
        column-count: 3;
        margin-bottom: 30px;
    }

    .events {
        margin-bottom: 85px;
    }

    .events__header {
        margin-bottom: 17px;
    }
    
    .event__description {
	padding-top: 17px;
    }
    
    .event__container {
        width: calc(50% - 17px);
    }

    .event__container:nth-child(2n), .event__container:nth-child(1) {
        margin-right: 0;
    }

    .event__container:nth-child(2n-1) {
        margin-right: 34px;
    }

    .event__header {
        margin-bottom: 1px;
    }

    .event__text {
	margin-bottom: 95px;
    }

    .event__link {
/*        margin-top: 63px;*/
    }

    .event__container_hide2 {
        display: none;
    }

    .publications__container {
        flex-wrap: wrap;
        padding-bottom: 52px;
    }

    .publications__header {
        margin-bottom: 22px;
    }

    .publications__filter {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .pub-filter__list {
        margin-bottom: 6px;
        display: flex;
        flex-flow: wrap column;
        height: 150px;
    }

    .publications__list {
        width: 100%;
    }

    .publications__swiper {
        width: 92%;
        margin: 0 auto;
    }

    .edition__header, .edition__author-desc, .edition__author {
        line-height: 22px;
    }

    .project {
        margin-bottom: 36px;
    }

    .project__title {
        margin-bottom: 28px;
    }

    .project__subheader {
        margin-bottom: 32px;
    }

    .project__rarrow, .project__larrow {
        top: 40px;
    }

    .project__item {
        height: 106px;
        padding-left: 27px;
        padding-right: 27px;
    }

    .contacts__form {
        width: 430px;
    }

    .contacts__form-container {
        padding-left: 0;
    }

    .contacts__input {
        width: 88%;
    }

    .contacts__map {
        width: calc(100% - 430px);
    }
}
@media (max-width: 680px) {
    .hero__header {
        font-size: 65px;
    }

    .publications__filter_list {
        height: 250px;
    }
}
@media (max-width: 600px) {
    .section-header {
        font-size: 28px;
        line-height: 38px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header {
        padding-top: 45px;
    }

    .top__container {
        padding-top: 12px;
        padding-bottom: 7px;
    }

    .header__logo {
        width: 100px;
    }

    .header__logo img {
        margin-bottom: 3px;
    }

    .header__burger {
        width: 20px;
        height: 15px;
        margin-top: 3px;
    }

    .search__btn_mob {
        width: 17px;
        height: 17px;  
        margin-top: 3px;
    }

    .search__field_mob_active {
        width: 120px;
        font-size: 14px;
        margin-left: 5px;
    }

    .hero {
        padding-top: 33px;
        padding-bottom: 45px; 
    }

    @keyframes header-bg {
        0% {
            background-image: url(../img/bg_desc1-320.jpg); 
            background-size: 100% 100%;
        }
        16.6% {
            background-size: 110% 110%;
        }    
        33.2% {
            background-image: url(../img/bg_desc2-320.jpg); 
            background-size: 100% 100%;
        }
        49.8% {
            background-size: 110% 110%;
        }
        66.4% {
            background-image: url(../img/bg_desc3-320.jpg); 
            background-size: 100% 100%;
        }    
        83% {
            background-size: 110% 110%;
        }
        100% {
            background-image: url(../img/bg_desc1-320.jpg); 
            background-size: 100% 100%;
        }   
    }


    .hero__header {
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 12px;
    }

    .hero__title {
        font-size: 12px;
        width: 95%;
        line-height: 16px;
        letter-spacing: -0.6px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 42px;
    }

    .hero__btn {
        margin: 0 auto;
        font-size: 12px;
        width: auto;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 17px;
        padding-right: 17px;
    }

    .about-us {
        padding-top: 50px;
        padding-bottom: 41px;
    }

    .about-us__header {
        margin-bottom: 12px;
    }

    .about-us__description {
       font-size: 14px;
       line-height: 28px;
       letter-spacing: 0; 
    }

    .gallery__container {
        padding-top: 50px;
    }

    .gallery__header {
        margin-left: -2px;
        margin-bottom: 20px;
    }

    .gallery__title {
        margin-bottom: 11px;
    }

    .gallery__info {
        width: 100%;
        margin-bottom: 79px;
    }

    .gallery__img, .publications__list {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 39px;
    }

    .gallery__control {
        justify-content: center;
        margin-bottom: 18px;
    }

    .gallery__swiper-pagination {
        margin-left: 13px;
        margin-right: 10px;
    }

    .galery__swiper {
        margin-bottom: 20px;
    }

    .galery__swiper-container {
        height: 114.7vw;
    }

    .gallery__item {
        height: 100%;
    }

    .catalog {
        margin-bottom: 51px;
    }

    .catalog__header-container {
        width: 100%;
        margin-bottom: 14px;
    }

    .catalog__header {
        margin-bottom: 7px;
    }

    .country__list {
        width: calc(100% + 14px);
        margin-left: -7px;
        margin-right: -7px;
        margin-top: 0;
    }

    .country__item:not(:last-child) {
        margin-right: 21px;
    }

    .country__link {
        width: 44px;
        height: 44px;
        border-radius: 22px;
        background-size: 75%;
    }

    .country__link_active {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .catalog__title {
        display: none;
    }

    .catalog__list {
        margin-bottom: 50px;
    }

    .catalog__item {
        font-size: 18px;
        line-height: 0px;
        padding-top: 37px;
        padding-bottom: 36px;
    }

    .catalog__author {
        column-count: 1;
        padding-top: 17px;
        width: 65%;
        margin-bottom: -2px;
    }

    .ui-accordion-header-icon {
        top: calc(50% - 15px);
        width: 30px;
        height: 30px;
    }

    .ui-accordion-header-icon::before {
        top: 11px;
        left: 11px;
        width: 6px;
        height: 6px;
    }

    .ui-accordion-header-active .ui-accordion-header-icon::before {
        top: 13px;
    }

    .ui-accordion-content {
        border-bottom: 1px solid var(--color-link);
        padding-bottom: 20px;
    }

    .catalog__img {
        margin-bottom: 20px;
    }

    .catalog__name {
        margin-bottom: 18px;
    }

    .events {
        margin-bottom: 47px;
    }

    .events__header {
        margin-bottom: 12px;
    }

    .events__list {
        display: flex;
/*        flex-wrap: nowrap;*/
        justify-content: start;
        margin-bottom: 10vw;
    }

    .event__container:nth-child(2n-1) {
        margin-right: 0;
    }

    .event__container {
        margin-bottom: 8px;
        height: 683px;
    }

    .event__description {
        height: 483px;
        padding-bottom: 50px;
        padding-left: 28px;
        padding-right: 10px;
    }

    .event__img {
        height: 29.7vh;
    }

    .event__date {
/*        margin-right: 10px;*/
        margin-bottom: 3px;
    }

    .event__text {
/*        padding-left: 28px;*/
        padding-right: 15px;
        margin-bottom: 28px;
    }

    .event__header {
        margin-bottom: 36px;
    }

    .event__link {
/*        margin-top: 28px;*/
/*        margin-left: 28px;*/
/*        margin-bottom: 50px;*/
    }

    .events__swiper-pagination {
        text-align: center;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0px 7.5px;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #666666;
    }

    .event__container_hide, .event__container_hide2 {
        display: block;
    }

    .events__btn {
        display: none;
    }

    .publications {
        margin-bottom: 50px;
    }

    .publications__container {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .publications__header {
        margin-bottom: 12px;
    }

    .publications__filter {
        margin-bottom: 10px;
    }

    .pub-filter__title {
        position: relative;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .pub-filter__title::before {
        content: '';
        position: absolute;
        top: 13px;
        right: 2px;
        width: 7px;
        height: 7px;
        border-bottom: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        transform: rotate(45deg);
    }

    .pub-filter__title_on.publications__filter_title::before {
        transform: rotate(-135deg);
        top: 16px;
    }

    .pub-filter__list {
        display: block;
        height: auto;
        margin-bottom: 25px;
    }

    .pub-filter__item {
        position: relative;
        margin-right: 0;
        border-bottom: 1px solid #999999;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: none;
    }

    .pub-filter__item_checked {
        display: block;
    }

    .pub-filter__list_open .pub-filter__item {
        display: block;
    }

    .pub-filter__item_checked::before,.pub-filter__item_checked::after {
        content: '';
        position: absolute;
        right: 0px;
        width: 10px;
        height: 1px;
        background-color: blueviolet;
        cursor: pointer;
    }

    .pub-filter__item_checked::before {
        top: 8px;
        transform: rotate(45deg);
    }

    .pub-filter__item_checked::after {
        top: 8px;
        transform: rotate(-45deg);
    }

    .pub-filter__label {
        display: block;
    }

    .pub-filter__item_hide {
        height: 0;
    }

    .pub-filter__price {
        width: 277px;
    }

    .pub-filter__text {
        padding-left: 5px;
        padding-right: 12px;
    }

    .publications__control {
        display: none;
    }

    .publications__swiper {
        width: 100%;
    }

    .publications__wrapper {
        flex-wrap: wrap;
    }

    .publications__item {
        width: calc(50% - 15px);
        margin-bottom: 46px;
    }

    .publications__item:nth-child(2n-1) {
        margin-right: 30px;
    }

    .edition__img {
        margin-bottom: 6px;
    }

    .edition__description {
        display: block;
        margin-bottom: 16px;
    }

    .edition__header, .edition__author-mob,.edition__author {
        font-size: 12px;
        line-height: 17px;
    }

    .edition__author-desc {
        display: none;
    }

    .edition__author-mob {
        display: inline;
    }

    .edition__price {
        font-size: 12px;
    }

    .edition__btn {
        font-size: 12px;
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .project {
        margin-bottom: 26px;
    }

    .project__header {
        margin-bottom: 12px;
    }

    .project__title {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .project__subheader {
        font-size: 18px;
        margin-left: -1px;
        margin-bottom: 17px;
    }

    .project__swiper {
        height: 90px;
        padding: 0 47px;
    }

    .project__item {
        height: 65px;
    }

    .project__item img {
        max-height: 80%;
    }

    .project__rarrow, .project__larrow {
        top: 17px;
    }
    
    .contacts {
        padding-left: 0px;
        padding-right: 0px;
      }

    .contacts__header {
        margin-bottom: 12px;
    }

    .contacts__address-mob {
        display: block;
    }

    .contacts__address-desc {
        display: none;
    }

    .contacts__name {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0px;
    }

    .contacts__address {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 15px;
    }

    .contacts__map {
        width: 100%;
        height: 100vw;
        order: 1;
    }

    .contacts__form {
        width: 100%;
        order: 2;
        padding-top: 25px;
    }

    .contacts__form-container {
        width: 100%;
        margin-left: 0;
        margin: 0 auto;
        padding-left: 14px;
        padding-right: 14px;
    }

    .contacts__title {
        font-size: 18px;
        margin-bottom: 23px;
    }

    .contacts__input {
        width: 100%;
        padding-left: 22px;
        margin-bottom: 20px;
    }

    .contacts__btn {
        font-size: 12px;
        padding-top: 8px;
        padding-bottom: 6px;
        padding-right: 33px;
        padding-left: 35px;
        margin-bottom: 26px;
    }

    .contacts__subheader {
        font-size: 18px;
        margin-bottom: 13px;
    }

    .contacts__messages {
        margin-bottom: 30px;
    }

    .messages__item:not(:last-child) {
        margin-right: 21px;
    }

    .messages__link {
        width: 49px;
        height: 49px;
    }

    .footer {
        padding-top: 29px;
        padding-bottom: 10px;
    }

    .footer__container {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .footer__social {
	margin-bottom: 18px;
    }

    .social__list {
        margin-bottom: 18px;
    }

    .social__link {
        width: 50px;
        height: 50px;
    }

    .footer__logo {
        display: block;
        width: 34%;
        margin: 0 auto;
    }

}

@media (max-width: 380px) {
    .events__list {
	margin-bottom: 2vw;
    }
}
